* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  --white-main: hsl(0, 0%, 100%);
  --white-75: hsla(0, 0%, 100%, 0.75);
  --white-60: hsla(0, 0%, 100%, 0.6);
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-blue: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --lexend-font: "Lexend Deca", sans-serif;
}

html {
  font-size: 16px;
}

.font-Inter {
  font-family: Inter, Roboto, sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--very-dark-blue);
  padding: 1rem 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  background-color: var(--dark-blue);
  margin: auto;
}

.image-container {
  width: 100%;
  flex-basis: 33%;
  position: relative;
}

.image-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 2;
  inset: 0;
  background-color: hsl(277, 64%, 61%);
  mix-blend-mode: multiply;
}

.image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.description {
  flex-basis: 66%;
  flex-grow: 1;
  padding: 2rem 1.5rem;
  text-align: center;
}

.description-main {
  color: var(--white-main);
  font-size: 1.75rem;
}

.description-main > span {
  color: var(--accent);
}

.description-body {
  font-size: 0.9rem;
  color: var(--white-75);
  margin-top: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.stats-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white-75);
}

.stats-container > * {
  margin-top: 2rem;
}

.stats-container h5 {
  color: var(--white-main);
  font-size: 1.5rem;
  text-transform: uppercase;
}

.stats-container h5 + p {
  text-transform: uppercase;
  font-family: var(--lexend-font);
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  margin-top: 0.5rem;
  color: var(--white-60);
}

@media screen and (min-width: 1440px) {
  .wrapper {
    padding: 5rem 10rem;
  }
  .container {
    flex-direction: row-reverse;
  }

  .image-container {
    flex-basis: 45%;
  }

  .description {
    flex-basis: 55%;
    padding: 5rem 6rem 5rem 5rem;
    text-align: left;
  }

  .description-main {
    font-size: 2.25rem;
  }

  .description-body {
    width: 80%;
    margin-top: 1.5rem;
    line-height: 1.75rem;
  }

  .stats-container {
    flex-direction: row;
    margin-top: 4rem;
    justify-content: flex-start;
  }

  .stats-container > * + * {
    margin-left: 4rem;
  }

  .stats-container h5 + p {
    font-size: 0.75rem;
    letter-spacing: 1px;
  }
}
